<section class="m-short-mail">

  <!-- Acessibility reference -->
  <h3 class="m-short-mail_title">E-mail number 1</h3>

  <!-- small screens-->
  <img class="m-short-mail_sender-picture js-smartphone" src="images/contacts/mily-smartphone.jpg" srcset="images/contacts/mily-smartphone.jpg 1x, images/contacts/mily-smartphone@2x.jpg 2x" width="60" height="60" alt="Mily´s photo">

  <a class="m-short-mail_label">Client Label</a>

  <div class="m-short-mail_content">

    <div class="m-short-mail_top">
      <p class="m-short-mail_sender">
        <strong>Mily</strong>
      </p>
      <time class="m-short-mail_maildate" datetime="2014-09-20">
        Sep 20
      </time>
    </div>

    <!-- Clips icon -->
    <svg class="m-icon-clips" version="1.1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" aria-labelledby="svgicon_clips-title-1 svgicon_clips-desc-1">
      <title id="svgicon_clips-title-1">Title</title>
      <desc id="svgicon_clips-desc-1">Description</desc>
      <use xlink:href="#clips-icon" />
    </svg>
    <!-- Subject -->
    <p class="m-short-mail_subject">
      <span>Development Files</span> - Lorem ipsum dolor sit amet.
    </p>

    <!-- Star Icon -->
    <svg class="m-icon-star" version="1.1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" aria-labelledby="svgicon_star-title-1 svgicon_star-desc-1">
      <title id="svgicon_star-title-1">Title</title>
      <desc id="svgicon_star-desc-1">Description</desc>
      <a xlink:href="#">
        <rect fill="transparent" width="15" height="15"></rect>
        <use xlink:href="#star-icon" />
      </a>
    </svg>
  </div>
</section>
