// Color Palette

$palettes: (
  //gray
  primary: (
    lightest: white,
    light20: #f6f5f3,
    light30: #efefef,
    light40: #d4d4d4,
    light60: #918F8F,
    light80: #6b6a6f,
    light: #6e7176,
    base: #36393e,
    dark: #1e2126,
    darkest: black
  ),
  //green
  secondary: (
    base: #97c89b
  )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}


//Breakpoint

//"Tablet"
@mixin bpt {
  @media (min-width: 30em) {
    @content;
  }
}

//Desktop
@mixin bpd {
  @media (min-width: 60em) {
    @content;
  }
}

