$palettes: (
  primary: (
    lightest: white ,
    light: #919191,
    base: #717171,
    dark: #292929,
    darkest: black
  ),
  secondary: (
    base: #90fab1
  )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}

//e.g. color: palette(green); or color: palette(grey, dark);

