/**********************
_theme.scss
**********************/

.th-aside{
  background-color: palette(primary,base);
}

.th-main{
  background-color: palette(primary,lightest);
  @include bpd{
    background-color: palette(primary,light20);
  }
}
