/**********************
_layout.scss
**********************/

.l-wrap{
  @include clearfix;
  height: 100%;
}

.l-aside{
  height: 100%;
  width: 70px;

  position: fixed;
  top: 0;
  left: 0;

  @include bp{
    width: 180px;
  }
}

.l-main{
  height: 100%;
  margin-left: 70px;

  @include bp{
    margin-left: 180px;
  }
}
