/**********************
_states.scss
**********************/

.is-not-rendered{
  display: none;
  //http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone
  visibility: hidden;
}

.is-hidden{
  visibility: hidden;
}
