/**********************
/components/_m-btn.scss
**********************/

.m-btn{
  height: 31px;

  color: palette(primary,lightest);
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;

  border-radius: 2px;
  background-color: palette(secondary,base);

  &--compose-mail{
    display: none;

    @include bpd{
      margin: 0 auto;
      width: 150px;

      display: block;
    }
  }
}
