/**********************
/components/_m-btn-hamburguer.scss
**********************/

.m-btn-hamburguer{
  float: left;
  height: 20px;
  width: 20px;
  padding: 0;
  background-color: transparent;
}
