/**********************
/components/_m-btn.scss
**********************/

.m-btn-text{
  height: 31px;

  color: palette(primary,lightest);
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;

  border-radius: 2px;
  background-color: palette(secondary,base);
}

.m-btn-arrow-down{
  padding: 0;
  width: 17px;
  height: 13px;

  display: block;

  background-color: palette(primary,light40);
  border-radius: 2px;

  fill:white;
}
