@mixin center-middle-default($height,$width){
/* margem negativa igual a metade da altura e da largura */

  margin: (-$height/2) 0 0 (-$width/2);
  position: absolute;
  top: 50%;
  left: 50%;

}
