/**********************
  _base.scss
**********************/
/* line 7, ../sass/_B-base.scss */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 29, ../sass/_B-base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 35, ../sass/_B-base.scss */
html,
body {
  height: 100%; }

/* line 40, ../sass/_B-base.scss */
html {
  font: 62.5% 'Raleway', sans-serif; }

/* line 44, ../sass/_B-base.scss */
button {
  border: none; }

/* line 48, ../sass/_B-base.scss */
ul {
  list-style: none; }

/* line 52, ../sass/_B-base.scss */
a {
  cursor: pointer; }

/**********************
_theme.scss
**********************/
/* line 5, ../sass/_C-theme.scss */
.th-aside {
  background-color: #36393e; }

/* line 9, ../sass/_C-theme.scss */
.th-main {
  background-color: white; }
  @media (min-width: 940px) {
    /* line 9, ../sass/_C-theme.scss */
    .th-main {
      background-color: #f6f5f3; } }

/**********************
_layout.scss
**********************/
/* line 5, ../sass/_D-layout.scss */
.l-wrap {
  height: 100%; }
  /* line 2, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .l-wrap:before, .l-wrap:after {
    content: "";
    display: table; }
  /* line 7, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .l-wrap:after {
    clear: both; }
  /* line 10, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .l-wrap {
    *zoom: 1; }

/* line 10, ../sass/_D-layout.scss */
.l-aside {
  height: 100%;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0; }
  @media (min-width: 940px) {
    /* line 10, ../sass/_D-layout.scss */
    .l-aside {
      width: 180px; } }

/* line 23, ../sass/_D-layout.scss */
.l-main {
  height: 100%;
  margin-left: 70px; }
  @media (min-width: 940px) {
    /* line 23, ../sass/_D-layout.scss */
    .l-main {
      margin-left: 180px; } }

/* line 32, ../sass/_D-layout.scss */
.l-mail-list {
  height: 100%;
  width: 100%; }
  @media (min-width: 940px) {
    /* line 32, ../sass/_D-layout.scss */
    .l-mail-list {
      min-width: 330px;
      width: 35%;
      float: left; } }

/**********************
_states.scss
**********************/
/* line 5, ../sass/_F-state-rules.scss */
.is-not-rendered {
  display: none;
  visibility: hidden; }

/* line 11, ../sass/_F-state-rules.scss */
.is-hidden {
  visibility: hidden; }

/**********************
/components/_m-btn.scss
**********************/
/* line 5, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-btn.scss */
.m-btn {
  height: 30px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #97c89b; }
  @media (min-width: 940px) {
    /* line 16, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-btn.scss */
    .m-btn--compose-mail {
      margin: 0 auto;
      display: block;
      width: 150px; } }

/**********************
/components/_m-icon.scss
**********************/
/* line 7, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-icon.scss */
.m-icon-clips, .m-icon-star {
  position: absolute;
  right: 0; }
/* line 13, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-icon.scss */
.m-icon-clips {
  top: 20px; }
  @media (min-width: 940px) {
    /* line 13, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-icon.scss */
    .m-icon-clips {
      right: 45px;
      top: 5px; } }
/* line 22, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-icon.scss */
.m-icon-star {
  top: 40px; }
  @media (min-width: 940px) {
    /* line 22, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-icon.scss */
    .m-icon-star {
      left: -20px;
      top: 30px; } }

/**********************
_m-corner-up-right.scss
**********************/
/* line 4, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-corner-up-right.scss */
.m-corner-up-right {
  padding: 8.5px 15px;
  position: relative;
  background-color: #1e2126; }
  @media (min-width: 940px) {
    /* line 4, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-corner-up-right.scss */
    .m-corner-up-right {
      border-bottom: 1px solid #6e7176;
      background-color: transparent; } }
  /* line 18, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-corner-up-right.scss */
  .m-corner-up-right_img {
    border-radius: 37px; }
    @media (min-width: 940px) {
      /* line 18, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-corner-up-right.scss */
      .m-corner-up-right_img {
        display: none; } }

/**********************
_m-labels.scss
**********************/
/* line 4, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
.m-labels {
  font-size: 1rem; }
  @media (min-width: 940px) {
    /* line 4, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
    .m-labels {
      margin: 0 auto;
      width: 80%; } }
  /* line 12, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_title {
    padding: 10px 0 5px;
    color: #6e7176;
    font-size: 1.4em;
    font-style: italic;
    text-align: center; }
    @media (min-width: 940px) {
      /* line 12, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
      .m-labels_title {
        padding: 20px 0 10px;
        font-style: normal;
        text-align: left; } }
  /* line 29, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_itens {
    margin: 0 auto;
    width: 15px; }
    @media (min-width: 940px) {
      /* line 29, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
      .m-labels_itens {
        width: 100%; } }
  /* line 38, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels [class^=m-labels_item-] {
    padding: 10px 0; }
    @media (min-width: 940px) {
      /* line 38, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
      .m-labels [class^=m-labels_item-] {
        padding: 20px 0; } }
    /* line 45, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
    .m-labels [class^=m-labels_item-]:after {
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      content: "";
      display: inline-block; }
      @media (min-width: 940px) {
        /* line 45, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
        .m-labels [class^=m-labels_item-]:after {
          height: 10px;
          width: 10px;
          border-radius: 0;
          float: right; } }
  /* line 61, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-1:after {
    background-color: #e5763e; }
  /* line 65, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-2:after {
    background-color: #e1c557; }
  /* line 69, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-3:after {
    background-color: #8bcbca; }
  /* line 73, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-4:after {
    background-color: #b48cec; }
  /* line 77, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_itens_link {
    display: block;
    float: left;
    text-indent: -9999px; }
    @media (min-width: 940px) {
      /* line 77, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
      .m-labels_itens_link {
        color: white;
        font-size: 1.4em;
        line-height: 0.5;
        text-indent: 0; } }

/**********************
_m-mail-list.scss
**********************/
/* line 4, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
.m-mail-list {
  font-size: 1rem; }
  /* line 7, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
  .m-mail-list_header {
    padding: 15px 0;
    width: 100%;
    background-color: #97c89b; }
    @media (min-width: 940px) {
      /* line 7, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
      .m-mail-list_header {
        padding: 30px 0;
        background-color: #efefef; } }
  @media (min-width: 940px) {
    /* line 20, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
    .m-mail-list_header-content {
      margin: 0 auto;
      width: 220px;
      position: relative; } }
  /* line 29, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
  .m-mail-list_header-title {
    color: white;
    font-size: 2.6em;
    font-weight: normal;
    line-height: 1;
    text-align: center; }
    /* line 36, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
    .m-mail-list_header-title--unread {
      font-size: 0.6em; }
    @media (min-width: 940px) {
      /* line 29, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
      .m-mail-list_header-title {
        color: black;
        font-size: 2.8em; } }
  /* line 48, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
  .m-mail-list_header-menu {
    margin-left: 15px; }
    @media (min-width: 940px) {
      /* line 48, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
      .m-mail-list_header-menu {
        margin-left: 0;
        position: absolute;
        bottom: 0;
        right: 0; } }
    /* line 59, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
    .m-mail-list_header-menu_btn {
      padding: 0;
      height: 20px;
      width: 20px;
      float: left;
      background-color: transparent; }
      /* line 68, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
      .m-mail-list_header-menu_btn--arrow-down {
        background-color: #d4d4d4;
        border-radius: 2px; }
      @media (min-width: 940px) {
        /* line 73, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
        .m-mail-list_header-menu_btn--hamburguer {
          display: none; } }

/**********************
_m-short-mail.scss
**********************/
/* line 5, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
.m-short-mail {
  border-bottom: 2px solid #f6f5f3;
  padding: 10px;
  width: 100%;
  position: relative;
  font-size: 1rem; }
  /* line 2, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .m-short-mail:before, .m-short-mail:after {
    content: "";
    display: table; }
  /* line 7, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .m-short-mail:after {
    clear: both; }
  /* line 10, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .m-short-mail {
    *zoom: 1; }
  @media (min-width: 940px) {
    /* line 5, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
    .m-short-mail {
      border-bottom: 1px solid #efefef; } }
  /* line 19, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_title {
    height: 1px;
    width: 1px;
    position: absolute;
    left: -9999px;
    top: auto;
    overflow: hidden; }
  /* line 23, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_label {
    height: 13px;
    width: 13px;
    border-radius: 6.5px;
    border: 2px solid #FFF;
    position: absolute;
    left: 60px;
    top: 15px;
    display: block;
    text-indent: -9999px;
    background-color: white; }
    @media (min-width: 940px) {
      /* line 23, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
      .m-short-mail_label {
        height: 13px;
        width: 13px;
        border-radius: 0;
        border: 1px solid #efefef;
        left: 15px;
        top: 17px; } }
  /* line 47, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_sender-picture {
    position: fixed;
    border-radius: 60px; }
    @media (min-width: 940px) {
      /* line 47, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
      .m-short-mail_sender-picture {
        display: none; } }
  /* line 55, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_content {
    margin-left: 60px;
    padding-left: 10px;
    position: relative; }
    @media (min-width: 940px) {
      /* line 55, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
      .m-short-mail_content {
        margin-left: 25px;
        padding-left: 0; } }
  /* line 67, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_top {
    margin: 5px 0;
    width: 100%;
    float: left; }
  /* line 74, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_sender {
    float: left;
    width: 58%;
    font-size: 1.6em; }
  /* line 81, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_infos {
    height: 19px;
    padding: 5px 0;
    width: 42%;
    float: right;
    font-size: 1.4em; }
  /* line 91, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_maildate {
    width: 50px;
    float: right;
    color: #918F8F;
    font-size: 1.2em;
    text-align: right; }
  /* line 101, C:/Users/yurim_000/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_subject {
    color: #6b6a6f;
    font-size: 1.3em; }

/*# sourceMappingURL=stylesheet.css.map */
