/**********************
  _base.scss
**********************/
/* line 7, ../sass/_B-base.scss */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* line 29, ../sass/_B-base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 35, ../sass/_B-base.scss */
html,
body {
  height: 100%; }

/* line 40, ../sass/_B-base.scss */
html {
  font: 62.5% 'Raleway', sans-serif; }

/* line 44, ../sass/_B-base.scss */
button {
  border: none; }

/* line 48, ../sass/_B-base.scss */
ul {
  list-style: none; }

/* line 52, ../sass/_B-base.scss */
a {
  cursor: pointer; }

/**********************
_theme.scss
**********************/
/* line 5, ../sass/_C-theme.scss */
.th-aside {
  background-color: #36393e; }

/* line 9, ../sass/_C-theme.scss */
.th-main {
  background-color: white; }

/**********************
_layout.scss
**********************/
/* line 5, ../sass/_D-layout.scss */
.l-wrap {
  height: 100%;
  margin: 0 auto;
  max-width: 940px;
  width: 100%; }
  /* line 2, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .l-wrap:before, .l-wrap:after {
    content: "";
    display: table; }
  /* line 7, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .l-wrap:after {
    clear: both; }
  /* line 10, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .l-wrap {
    *zoom: 1; }

/* line 13, ../sass/_D-layout.scss */
.l-aside {
  height: 100%;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0; }

/* line 22, ../sass/_D-layout.scss */
.l-main {
  height: 100%;
  margin-left: 70px; }

/**********************
_states.scss
**********************/
/* line 5, ../sass/_F-state-rules.scss */
.is-not-rendered {
  display: none;
  visibility: hidden; }

/* line 11, ../sass/_F-state-rules.scss */
.is-hidden {
  visibility: hidden; }

/**********************
/components/_m-button.scss
**********************/
/* line 5, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-button.scss */
.m-menu {
  font-size: 1rem; }

/**********************
/components/_m-menu.scss
**********************/
/* line 4, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-menu.scss */
.m-menu {
  font-size: 1rem; }
  /* line 6, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-menu.scss */
  .m-menu--mail-list-ss {
    padding-left: 10px; }
  /* line 10, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/components/_m-menu.scss */
  .m-menu--mail-list-ss_btn {
    float: left;
    height: 20px;
    width: 20px;
    padding: 0;
    background-color: transparent; }

/**********************
_m-labels.scss
**********************/
/* line 4, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
.m-labels {
  font-size: 1rem; }
  /* line 6, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_title {
    padding: 10px 0 5px;
    font-size: 1.4em;
    text-align: center;
    font-style: italic;
    color: #6e7176; }
  /* line 16, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_itens {
    margin: 0 auto;
    width: 15px; }
  /* line 21, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels [class^=m-labels_item-] {
    padding: 10px 0; }
    /* line 24, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
    .m-labels [class^=m-labels_item-]:after {
      height: 15px;
      width: 15px;
      border-radius: 7.5px;
      content: "";
      display: inline-block; }
  /* line 34, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-1:after {
    background-color: #e5763e; }
  /* line 38, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-2:after {
    background-color: #e1c557; }
  /* line 42, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-3:after {
    background-color: #8bcbca; }
  /* line 46, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_item-4:after {
    background-color: #b48cec; }
  /* line 50, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-labels.scss */
  .m-labels_itens_link {
    display: block;
    float: left;
    text-indent: -9999px; }

/**********************
_m-mail-list.scss
**********************/
/* line 4, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
.m-mail-list {
  font-size: 1rem;
  width: 100%; }
  /* line 7, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
  .m-mail-list_header {
    height: 55px;
    width: 100%;
    display: table;
    background-color: #97c89b; }
  /* line 16, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
  .m-mail-list_header-content {
    display: table-cell;
    vertical-align: middle; }
  /* line 21, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-mail-list.scss */
  .m-mail-list_header-title {
    color: white;
    font-size: 2.6em;
    font-weight: normal;
    text-align: center; }

/**********************
_m-sender-picture.scss
**********************/
/* line 6, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-sender-picture.scss */
.m-sender-picture--short-mail {
  position: fixed; }

/**********************
_m-short-mail.scss
**********************/
/* line 5, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
.m-short-mail {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #f6f5f3;
  font-size: 1rem; }
  /* line 2, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .m-short-mail:before, .m-short-mail:after {
    content: "";
    display: table; }
  /* line 7, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .m-short-mail:after {
    clear: both; }
  /* line 10, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
  .m-short-mail {
    *zoom: 1; }
  /* line 11, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_title {
    height: 1px;
    width: 1px;
    position: absolute;
    left: -9999px;
    top: auto;
    overflow: hidden; }
  /* line 15, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_label {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    display: block;
    border: 2px solid #FFF;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
    background-color: black; }
  /* line 29, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_content {
    padding-left: 10px;
    margin: 5px 0 2px 60px; }
  /* line 34, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_top {
    float: left;
    width: 100%; }
  /* line 39, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_sender {
    width: 58%;
    float: left;
    font-size: 1.6em; }
  /* line 46, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_infos {
    width: 42%;
    float: right;
    height: 19px;
    padding: 5px 0;
    font-size: 1.4em; }
  /* line 55, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_maildate {
    float: right;
    color: #918F8F;
    width: 50px;
    text-align: right;
    font-size: 1.2em; }
  /* line 63, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_bottom {
    width: 100%; }
    /* line 2, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
    .m-short-mail_bottom:before, .m-short-mail_bottom:after {
      content: "";
      display: table; }
    /* line 7, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
    .m-short-mail_bottom:after {
      clear: both; }
    /* line 10, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/helpers/mixins/_clearfix.scss */
    .m-short-mail_bottom {
      *zoom: 1; }
  /* line 68, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_subject {
    width: 85%;
    float: left;
    color: #6b6a6f;
    font-size: 1.4em; }
  /* line 77, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-short-mail.scss */
  .m-short-mail_icons {
    width: 15px;
    float: right; }

/**********************
_m-user-picture.scss
**********************/
/* line 4, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-user-picture.scss */
.m-user-picture {
  height: 55px;
  position: relative;
  background-color: #1e2126; }
  /* line 11, C:/Users/Yuri/Documents/Repositorios/Pessoais/teste-frontend-mail-app/src/sass/modules/_m-user-picture.scss */
  .m-user-picture_img {
    /* margem negativa igual a metade da altura e da largura */
    margin: -17.5px 0 0 -17.5px;
    position: absolute;
    top: 50%;
    left: 50%; }

/*# sourceMappingURL=stylesheet.css.map */
