.l-wrap{
  display: none !important;
}

.m-loading-app{
  display: none;
}

#mocha-report > .suite > h1{
  margin-top: 50px;
  margin-bottom: 20px;
}

#mocha .test{
  margin: 10px 0 10px 15px;
}
