/**********************
_m-corner-up-right.scss
**********************/
.m-corner-up-right{
  padding: 8.5px 15px;

  position: relative;

  background-color: palette(primary, dark);

  @include bpd{

    border-bottom: 1px solid palette(primary,light);

    background-color: transparent;
  }

  &_img{
    border-radius: 37px;

    @include bpd{
      display: none;
    }
  }

  &_btn{
    display: none;

    @include bpd{
      margin: 0 auto;
      width: 150px;

      display: block;
    }
  }
}
