/**********************
_m-labels.scss
**********************/
.m-labels{
  height: 100%;

  font-size: 1rem;

  @include bpd{
    margin: 0 auto;
  }

  &_itens{
    margin: 0 auto;
    width: 15px;

    @include bpd{
      padding: 0 1em;
      width: 100%;
    }
  }

  &_itens-link{
    height: 1.5em;
    margin-bottom: 25px;
    width: 100%;

    display: block;

    text-indent: -9999px;

    @include bpd{
      &:hover{
        outline: 1px solid palette(primary, light60);
      }

      height: 3em;
      margin-bottom: 0;
      padding: 0 0.5em;

      color: palette(primary, lightest);
      font-size: 1.3em;
      line-height: 3em;
      text-indent: 0;
    }


    &:after{
      @include circle(15px);

      float: right;

      content: "";

      display: inline-block;

      @include bpd{
        @include square(10px);

        margin: 1.1em 0;

      }
    }
  }

  &_title{
    padding: 2em 1em 2em;

    color: palette(primary,light);
    font-size: 1.3em;
    font-style: italic;
    text-align: center;

    @include bpd{
      padding: 2em 1.4em 2em;

      font-size: 1.2em;
      font-style: normal;
      text-align: left;
      text-transform: uppercase;
    }

  }
}
