/**********************
_m-labels.scss
**********************/
.m-labels{
  font-size: 1rem;
  &_title{
    padding: 10px 0 5px;

    color: palette(primary,light);
    font-size: 1.4em;
    font-style: italic;
    text-align: center;

  }

  &_itens{
    margin: 0 auto;
    width: 15px;
  }

  [class^=m-labels_item-]{
    padding: 10px 0;

    &:after{
      @include circle(15px);

      content: "";

      display: inline-block;

    }
  }

  &_item-1:after{
    background-color: #e5763e;
  }

  &_item-2:after{
    background-color: #e1c557;
  }

  &_item-3:after{
    background-color: #8bcbca;
  }

  &_item-4:after{
    background-color: #b48cec;
  }

  &_itens_link{
    display: block;

    float: left;

    text-indent: -9999px;
  }
}
