/**********************
_m-mail-list.scss
**********************/
.m-mail-list{
  font-size: 1rem;

  &_header{
    padding: 15px 0;
    width: 100%;

    background-color: palette(secondary,base);

    @include bp{
      padding: 30px 0;

      background-color: palette(primary,light30);
    }
  }

  &_header-content{
    @include bp{
      margin: 0 auto;
      width: 220px;

      position: relative;
    }
  }

  &_header-title{
    color: palette(primary,lightest);
    font-size: 2.6em;
    font-weight: normal;
    text-align: center;

    &--unread{
      font-size: 0.6em;
    }

    @include bp{
      color: palette(primary,darkest);
      font-size: 2.8em;
    }
  }



  &_header-menu{
    margin-left: 15px;

    @include bp{
      margin-left: 0;

      position: absolute;
      bottom: 0;
      right: 0;
    }

    &_btn{
        padding: 0;
        height: 20px;
        width: 20px;

        float: left;

        background-color: transparent;

      &--arrow-down{
        display: block;

        background-color: palette(primary,light40);
        border-radius: 2px;
      }

      &--hamburguer{
        display: block;

        @include bp{
          display: none;
        }
      }
    }
  }

}
