/**********************
_m-mail-list.scss
**********************/
.m-mail-list{
  width: 100%;

  font-size: 1rem;
  &_header{
    height: 55px;
    width: 100%;

    display: table;

    background-color: palette(secondary,base);

    @include bp{
      height: 100px;

      background-color: palette(primary,light30);
    }
  }

  &_header-content{
    vertical-align: middle;

    display: table-cell;

  }

  &_header-title{
    color: palette(primary,lightest);
    font-size: 2.6em;
    font-weight: normal;
    text-align: center;

    @include bp{
      color: palette(primary,darkest);
      font-size: 2.8em;
    }
  }
}
