/**********************
_m-noscript.scss
**********************/

.m-noscript{
  height: 50%;
  min-height: 100px;
  width: 100%;

  position: fixed;

  color: #F00;
  font-size: 1rem;
  text-align: center;

  background-color: #FFF;

  &_information,
  &_link{
    font-size: 1.4em;
    line-height: 1.3;
  }

  &_link{
    color: #634BD0;;
    text-align: left;
    text-decoration: underline;
  }

  &_title{
    height: 45%;

    font-size: 2.2em;
  }

}
