/**********************
_m-short-mail.scss
**********************/

.m-short-mail{
  @include clearfix;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid palette(primary,light20);
  font-size: 1rem;
  &_title{
    @include invisible-acessible;
  }

  &_label{
    @include circle(12px);
    display: block;

    border: 2px solid #FFF;
    position: absolute;
    right: 0;
    top: 0;

    text-indent: -9999px;

    background-color: black;
  }

  &_content{
    padding-left: 10px;
    margin-left: 60px;
  }

  &_top{
    float: left;
    width: 100%;
    margin: 5px 0;
  }

  &_sender{
    width: 58%;
    float: left;

    font-size: 1.6em;
  }

  &_infos{
    width: 42%;
    float: right;
    height: 19px;
    padding: 5px 0;

    font-size: 1.4em;
  }

  &_maildate{
    float: right;
    color: palette(primary,light40);
    width: 50px;
    text-align: right;
    font-size: 1.2em;
  }

  &_bottom{
    @include clearfix;
    width: 100%;
  }

  &_subject{
    width: 85%;

    float: left;
    color: palette(primary,light80);

    font-size: 1.3em;
  }

  &_icons{
    width: 15px;
    float: right;
  }

}
