/**********************
_m-short-mail.scss
**********************/

.m-short-mail{
  @include clearfix;
  border-bottom: 2px solid palette(primary,light20);
  padding: 10px;
  width: 100%;

  font-size: 1rem;

  @include bp{
    border-bottom: 1px solid palette(primary,light30);
  }

  &_title{
    @include invisible-acessible;
  }

  &_label{
    @include circle(13px);
    border: 2px solid #FFF;

    position: absolute;
    right: -5px;
    top: 7px;

    display: block;

    text-indent: -9999px;

    background-color: black;
  }

  &_content{
    margin-left: 60px;
    padding-left: 10px;

    position: relative;

    @include bp{
      margin-left: 25px;
      padding-left: 0;
    }
  }

  &_top{
    margin: 5px 0;
    width: 100%;

    float: left;
  }

  &_sender{
    float: left;
    width: 58%;

    font-size: 1.6em;
  }

  &_infos{
    height: 19px;
    padding: 5px 0;
    width: 42%;

    float: right;

    font-size: 1.4em;
  }

  &_maildate{
    width: 50px;

    float: right;

    color: palette(primary,light40);
    font-size: 1.2em;
    text-align: right;
  }

  &_subject{
    color: palette(primary,light80);
    font-size: 1.3em;
  }
}
