/**********************
_m-user-picture.scss
**********************/
.m-user-picture{
  height: 55px;

  position: relative;

  background-color: palette(primary, dark);

  &_img{
    @include center-middle-default(35px,35px);

  }
}
